<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h2>you need to log in</h2>

<form action="/auth" method="post">
    <label>Mail<input type="email" name="mail"></label>
    <br>
    <label>Password<input type="text" name="password"></label>
    <br>
    <button>submit</button>
</form>

<h2>or <a href="/register">register</a></h2>

</body>
</html>