<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

{{#if info}}
    <h2>{{info}}</h2>
{{/if}}

<h2>enter data to register</h2>

<form action="/users" method="post">
    <label>Mail<input type="text" name="mail"></label>
    <br>
    <label>Password<input type="text" name="password"></label>
    <br>
    <button>submit</button>
</form>

</body>
</html>