doctype html
html
    head
        style
            include style.css
    body
        div
            | Hey there!
        div
            block content
        div
            | Have a nice day!
            br
            a(href = frontendURL) Inox course Node.js